.navbar {
  position: fixed;

  background-color: #fde3e3;
  top: 0;
  left: 0;
  right: 0;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px;
  padding: 20px;
  list-style-type: none;
}

.navbar a {
  color: #ff6347; /* Change this to any color you like */
  text-decoration: none; /* Removes underline */
  font-size: 20px;
  font-weight: bold;
}
